<main>
<h1>Productos del Carrito</h1>
<div class="products">
    <div id="productsCart-list" >

    </div>
</div>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/assets/js/cart.js"></script>