<main>
    <div class="login-box">
        <h1>Login</h1>
        <form action="/api/sessions/login" method="POST" class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Ingrese el email" required>
            <input type="password" name="password" class="form-control" placeholder="Ingrese el password" required>

            <button class="btn btn-primary btn-block mt-3">Enviar</button><br>
            <a href="/register" class="register-link">Register</a>          
        </form>
    </div>
</main>